@use "base/variables";

.advantages {
    padding: 70px 0;
    background-color: variables.$white-color;

    @media screen and (max-width: 576px) {
        padding: 40px 0;
    }

    &__wrapper {
        margin-top: 65px;
        display: flex;
        text-align: center;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            column-gap: 20px;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            row-gap: 30px;
            align-items: center;

        }

        img {
            height: 70px;
            width: 70px;
        }
    }



    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        margin-top: 35px;
        color: black;
    }

    &__text {
        max-width: 280px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: black;
        margin-top: 20px;


        @media screen and (max-width: 768px) {
            max-width: 200px;
            margin-top: 5px;
        }
    }

    &__icon {
        &_animated {
            animation: hearthbeat 2s ease infinite;
            // animation-name: hearthbeat;
            // animation-duration: 2s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;

            &:hover {
                animation-play-state: paused;
            }
        }
    }
}