@use "base/variables";

.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: variables.$main-color;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: variables.$white-color;
    border: none;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
        box-shadow: 3px 3px 10px variables.$main-color;
        border: none;

    }

    &_main {
        width: 300px;
        height: 55px;
        font-size: 16px;
        margin-top: 70px;


        @media screen and (max-width: 425px) {
            width: 60%;
            font-size: 14px;
        }

    }

    &_submit {
        width: 100%;
        font-size: 16px;
        height: 55px;
        border: radius 5px;
    }

    &_mini {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }


}