@use "base/variables";


.promo {

    max-width: 100%;
    padding: 21px 0 93px 0;
    background: url(../img/bg.jpg) center center/ cover no-repeat;

    @media screen and (max-width: 768px) {
        background: url(../img/bg_1024px.jpg) center center/ cover no-repeat;
    }

    @media screen and (max-width: 576px) {
        max-height: 100%;
        padding: 30px 0 30px 0;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;

        @media screen and (max-width: 768px) {
            margin-top: 50px;
            align-items: center;
        }
    }

    &__header {
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
        color: variables.$white-color;

        // line-height: 24px;
        @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 30px;

        }
    }

    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: variables.$white-color;

        // line-height: 24px;
        @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 16px;
            margin-top: 10px;
        }
    }

    &__icons {
        margin-top: 60px;
        min-width: 425px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 425px) {
            min-width: 90%;
        }


    }

    &__icon {
        width: 110px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: variables.$white-color;

        @media screen and (max-width: 425px) {
            width: 100%;
        }

        img {
            margin-bottom: 20px;
            display: block;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        text-align: right;
        color: variables.$white-color;
        margin-top: 18px;

        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: variables.$white-color;
        }
    }
}